<%- include('header.ejs') %>
<div class="blog-container">
<form action="/compose" method="post">
    <div class="blog-body">
        <div class="blog-title">
        <h1>Post Blogs</h1>
        </div>
        <div class="blog-summary">
            <input type="text" name="postTitle" id="postTitle" autocomplete="off" placeholder="Enter Title" />
            <textarea name="postDesc" id="postDesc" placeholder="Post Description"></textarea>
        </div>
    </div>
    <div class="blog-footer">
        <button type="submit" class="postBtn" id="postBtn" name="publish">Publish</button>
    </div>
</form>
</div>
<%- include('footer.ejs') %>