<div class='hero'>
  <div class="hero-one"></div>
  <div class="hero-two"></div>
  <h1 class="header-title">
    <span class="header-primary"><%= heroBannerText.h1 %></span>
    <span class="header-sub"><%= heroBannerText.p %></span>
</h1>
</div>